@model IEnumerable<ProjectForItransition.Models.ContentCollection>

<h1>Список коллекции</h1>

<div class="row">
    @foreach (var collection in Model)
    {
        <div class="col-sm-3 m-2">
            <div class="card" style="width: 18rem; height: 20rem; max-height: 20rem;">
                <img class="card-img-top" style="height:10rem;" src="..." alt="Image collection">
                <div class="card-body">
                    <h5 class="card-title">@collection.Name</h5>
                    <p class="card-text">@collection.Description</p>
                    <p class="card-text">Topic - @collection.Topic</p>
                    <form method="get" asp-action="ShowCollection" asp-controller="Collection">
                        <input type="hidden" name="collectionId" value="@collection.Id" />
                        <button class="btn btn-primary">Show this collection</button>
                    </form>
                </div>
            </div>
        </div>
    }
</div>
