<form asp-controller="Home" asp-action="ChangeTheme" asp-route-returnUrl="@Context.Request.Path" asp-route-queryStr="@Context.Request.QueryString" method="post">
    <input type="submit" style="display:none" id="submitTheme"/>
    <div class="modeswitcher leftBottom active" >
        <label for="submitTheme" class="">
            <img src="https://alexgyver.ru/wp-content/plugins/wp-dark-mode//assets/images/btn-1/light.png" class="light" alt="Light">
            <img src="https://alexgyver.ru/wp-content/plugins/wp-dark-mode//assets/images/btn-1/dark.png" class="dark" alt="Dark">
        </label>
    </div>
</form>
