@model Task4.ViewModels.LoginViewModel
@{
    ViewData["Title"] = "Log in";
}

<h1>@ViewData["Title"]</h1>
<h4>Use a local account to log in.</h4><hr />
<form method="post" asp-controller="Account" asp-action="Login" asp-route-returnUrl="@Model.ReturnUrl">
    <div asp-validation-summary="ModelOnly"></div>
    <div class="form-group">
        <label asp-for="Login">Login</label><br />
        <input class="form-control" placeholder="Enter login" asp-for="Login" />
        <span asp-validation-for="Login"></span>
    </div>
    <div class="form-group">
        <label asp-for="Password">Password</label>
        <input class="form-control" placeholder="Password" asp-for="Password">
        <span asp-validation-for="Password"></span>
    </div>
    <div>
        <input type="submit" value="Login" class="btn btn-primary" />
    </div>
</form>
