@model IEnumerable<ProjectForItransition.Models.Item.ContentItem>

<h1>Search list</h1>

<div class="container">
    <table class="table table-bordered">
        <thead class="thead-dark">
            <tr>
                <th scope="col" class="col-2">
                    <div class="">Name Item</div>
                </th>
                <th scope="col">
                    <div class="">Tags</div>
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <th scope="row">
                        <form method="get" asp-action="Index" asp-controller="Item">
                            <input type="hidden" id="itemIdInput" name="itemId" value="@item.Id"/>
                            <button class="btn btn-link">@item.Name</button>
                        </form>
                    </th>
                    <td>
                        @if (item.Tags != null)
                        {
                            @foreach (var tag in item.Tags)
                            {
                                <span>@tag.Name </span>
                            }
                        }
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>